@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
  color:#222;
}


h2{
	text-align: center;
	margin-top: 50px;
	font-size: 30px;
}
h3 {
    background-color:#aace98;
}
.products{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 50px;
	margin: 50px auto;
	max-width: 1240px;
	padding: 20px;
}

.product{
	padding: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.product .btn-success {
    color: #fff;
    background: #13bfa6 !important;
    border-color: #35b9a6;
}

